<tr>
    <td>
      <%= activity_incentive.activity.name %>
    </td>
    <td><div class="col-md-3 pull-right">
      <input class="form-control text-right input-sm" name="incentive_config[activity_incentives_attributes][<%= activity_incentive_counter %>][value]" placeholder="Type a value" value="<%= activity_incentive.value %>"></div>
      <input class="form-control" name="incentive_config[activity_incentives_attributes][<%= activity_incentive_counter %>][external_reference]" value="<%= activity_incentive.activity.external_reference %>" type="hidden">
      <input class="form-control" name="incentive_config[activity_incentives_attributes][<%= activity_incentive_counter %>][name]" value="<%= activity_incentive.activity.name %>" type="hidden">
    </td>
</tr>
