<tr class="nested-fields">
  <td> <%= activity_state.name %>
    <% if activity_state.errors.any? %>
    <br>
      <%=icon("exclamation-triangle text-danger")%> <% activity_state.errors.full_messages.each do |msg| %>
       <small class="text-danger"><%= msg %></small>
      <% end %>
    </ul>
   </div>
   <% end %>
  </td>
    <td> <%= f.object.kind %></td>
  <td> <%= link_to_remove_association icon("trash-o text-danger") , f %> </td>
  <td>
    <div class="switch-field pull-right">
      <div class="col-md-14">
        <% states.each_with_index do |state| %>
          <%= radio_button_tag "#{prefix}[state_id]", state.id, state.id == activity_state.state_id %>
          <label for='<%= sanitize_to_id("#{prefix}[state_id]_#{state.id}")%>'><%= state.name%></label>
        <% end %>
      </div>
    </div>

    <%= f.hidden_field :external_reference, value: activity_state.external_reference %>
    <%= f.hidden_field :name, value: activity_state.name %>
    <%= f.hidden_field :kind, value: activity_state.kind %>
  </td>
  <td>
    <%if f.object.kind_formula? %>
      <%= f.text_field :formula %>
    <%end%>
  </td>
</tr>
