
<h1><%= rule_name(project_rule.rule) %></h1>

<%= f.association :packages, collection: project_rule.project.packages, as: :check_boxes, :label_method => lambda { |package| "#{package.name} : #{package.frequency} , #{package.kind} " } %>
<%= f.input :frequency , collection: PaymentRule::FREQUENCIES %>
<%= f.simple_fields_for :rule do |rule_form| %>
  <%= render "setup/rules/form", f: rule_form, rule: project_rule.rule%>
<% end %>
<br><br>

<%= f.button :submit, class: "btn btn-success" %>

<%= link_to "Cancel and back to setup", root_path(project_rule.project, anchor: "step-rules") ,class: "btn btn-default"%>
