
<a name="<%=pack.code %>"></a>
<br>
<h2><a href="?package=<%=pack.code %>"><%= pack.name.humanize%></a></h2>
<h3>Package signalitic</h3>
<ul>
<li>Description :<b><%=pack.description%></b>
<li>Frequency : <b><%=pack.frequency%></b>
<li>Kind : <b><%=pack.kind%></b>
<li>Target groups : <b><%=pack.package_entity_groups.map(&:name).join(", ")%></b>
<li>Inputs : <b><%= pack.states.map(&:name).join(", ")%></b>
</ul>

<h3>Activities</h3>
<table class="table">
<thead>
  <tr>
    <th>Code</th>
    <% pack.states.each do |state|%>
    <th><%=state.name %></th>
    <%end%>
  </tr>
</thead>
<tbody>
<%pack.activities.sort {|a,b| NaturalSort.comparator(a.code, b.code)}.each do |activity|%>
<tr>
  <td width="35%">
  <%= activity.name%> <br>
  <i><%= activity.code%></i>
  </td>
    <% pack.states.each do |state|%>
      <td>
        <% activity_state = activity.activity_state(state) %>
      <%if activity_state&.kind == "data_element"%>
        <%= link_to_data_element(@current_project, activity_state.external_reference) %>
      <%end%>
      <%if activity_state&.kind == "indicator"%>
        <%= link_to_data_element(@current_project, activity_state.external_reference) %>
      <%end%>
      <%if activity_state&.kind == "formula"%>
       <%= activity_state.formula%>
      <%end%>

      <%if activity_state%>
         <br>
         <small><%= activity_state.kind%></small>
      <%end%>
     </td>
    <%end%>
</tr>
</tbody>
<%end%>
</table>
<h3>Formulas</h3>

<div class="mermaid" style="width: 100%">
graph TD
<%= Orbf::RulesEngine::GraphvizProjectPrinter.new.print_packages([package]).first%>
</div>

<div class="formulas">
  <% if pack.activity_rule%>
    <h4>Activity rule (red)</h4>
    <p>Allow to express output per activity and for single orgunit </p>
    <%= render partial: 'rule', locals: {rule: pack.activity_rule}%>
    <h5>Formula mapping</h5>
    <%= render partial: 'activity_rule', locals: {rule: pack.activity_rule}%>
  <%end%>

  <% if pack.zone_activity_rule%>
    <h4>Zone Activity rule (dark red)</h4>
    <p>Allow to express output per activity and for multiple orgunits</p>
    <%= render partial: 'rule', locals: {rule: pack.zone_activity_rule}%>
    <h5>Formula mapping</h5>
    <%= render partial: 'activity_rule', locals: {rule: pack.zone_activity_rule}%>
  <%end%>

  <% if pack.package_rule%>
    <h4>Package rule (green)</h4>
    <p>Allow to express sum/constraints on all activities for single orgunit </p>
    <%= render partial: 'rule', locals: {rule: pack.package_rule}%>
  <%end%>

  <% if pack.zone_rule%>
    <h4>Zone rule (darker)</h4>
    <p>Allow to express sum/constraints accross multiple orgunit </p>
    <%= render partial: 'rule', locals: {rule: pack.zone_rule}%>
  <%end%>
</div>
