<table class="table" style="width: 100%">
   <thead>
     <tr>
       <th>Code / Description</th>
       <th>Expression</th>
     </tr>
   </thead>
   <tbody>
    <%rule.formulas.each do|formula|%>
      <tr>
        <td ><%= formula.code%>
            <br>&nbsp;&nbsp;<i><%=formula.short_name%></i>
            <br>&nbsp;&nbsp;<i><%=formula.description%></i></td>
        <td ><pre style="white-space: pre-wrap;word-wrap: break-word;"><%= formula.expression%></pre>

        <%if formula.formula_mappings.size == 1%>
          <small>Mapped to data element <%= link_to_data_element(@current_project, formula.formula_mappings.first.external_reference) %></small>
        <%end%>
        </td>
      </tr>
    <%end%>
   <tbody>
</table>