<table class="table" style="width: 100%">
   <thead>
     <tr>
       <th>Code / Description</th>
       <th>Expression</th>
     </tr>
   </thead>
   <tbody>
    <%rule.formulas.sort_by(&:code).each do|formula|%>
      <tr>
        <td ><%= formula.code%>
            <br>&nbsp;&nbsp;<i><%=formula.short_name%></i>
            <br>&nbsp;&nbsp;<i><%=formula.description%></i></td>
        <td ><pre style="white-space: pre-wrap;word-wrap: break-word;"><%= formula.expression%></pre>

          <%if formula.formula_mappings.size == 1%>
            <% mapping = formula.formula_mappings.first %>
            <% if mapping.has_coc_in_reference? %>
              <small>
                Mapped to data element <%= link_to_data_element(@current_project, mapping.data_element_ext_ref) %> and to Category Option Combo: <%= link_to_coc(@current_project, mapping.coc_ext_ref) %>
              </small>
            <% else %>
              <small>
                Mapped to data element <%= link_to_data_element(@current_project, mapping.data_element_ext_ref) %>
              </small>
            <% end %>
        <%end%>
        </td>
      </tr>
    <%end%>
   <tbody>
</table>
