
Payment rules :
<% payment_rules = @orbf_project.payment_rules.select { |p| params[:package].nil? || p.packages.map(&:code).include?(params[:package]) } %>

<% payment_rules.each do |payment_rule| %>
    <li><a href="#<%= payment_rule.code%>"><%= payment_rule.code.humanize%></a></li>
<%end %>

<% payment_rules.each do |payment_rule| %>
  <a name="<%= payment_rule.code %>"></a>
  <% pay = @current_project.payment_rules.detect {|p| p.code == payment_rule.code}%>
  <% if params[:package].nil? %>
    <h1><b><%= pay.rule.name %></b></h1>
    <h2>Payment rule signaltic</h2>
    <p>The payment rules is combining the output of the following packages : </p>
    <%pay.packages.each do |package|%>
    <li><a href="#<%= package.code %>"><%= package.name %></a></li>
    <%end%>
    <h2>Payment rule</h2>
    <%= render partial: 'rule', locals: {rule: pay.rule}%>
  <%end%>
    <% payment_rule.packages.select { |p|  params[:package].nil? || p.code == params[:package] }.each_with_index do |package, index|%>
      <% pack = @current_project.package(package.code)%>
      <%= render partial: 'package', locals: {pack: pack, package: package}%>
    <% end %>
<% end %>