<tr>
  <% invoice.headers.each do |header| %>
     <td class="popper <%=invoice_output_input_act_class(activity_item, header)%>" data-toggle="popover"  data-placement="bottom">
        <% formatted_amount = d_to_s(activity_item.solution[header])%>
        <span class="num-span" title="<%= activity_item.solution[header]%>">
          <% if formatted_amount && formatted_amount.to_d!= activity_item.solution[header].to_s.to_d%>
             <span title="Rounded for display <%= activity_item.solution[header] %>" class="text-danger" role="button">*</span>
          <% end %>
          <%if activity_item.not_exported?(header)%>
            <del><%= formatted_amount %></del>
          <%else%>
           <%= formatted_amount %>
          <%end%>
        </span>
        <div class="popper-content hide">
          <% variable = activity_item.variable(header)%>
          <%if variable%>
            <%if variable.formula %>
            <% activity_lookup = indexed_project.lookup_package_rule(activity_item, header) %>
              <h3><%= link_to(variable.state, edit_setup_project_package_rule_path(activity_lookup.project, activity_lookup.package, activity_lookup.rule, anchor: "formula_#{variable.state}"), target: "_blank") %></h3>
            <% else %>
              <h3><%= variable.state %></h3>
            <%end%>
              <ul>
                  <li><%= variable.key %></li>
                  <li><code><%= variable.expression %></code></li>
                  <% activity_state = indexed_project.lookup_activity_state(variable) %>

                  <%if variable.dhis2_data_element %>
                    <li><%= link_to_data_element(@current_project,variable.dhis2_data_element) %></li>
                    <li><%= @data_compound.data_element(variable.dhis2_data_element)&.name%>
                  <%elsif activity_state%>
                    <li>Mapping : <%= activity_state.ext_id%> - <%= activity_state.kind%> - <%= (@data_compound.data_element(activity_state.ext_id) || @data_compound.indicator(activity_state.ext_id))&.name%>
                    <%if activity_state.data_element?%>
                      <li><%= link_to_data_element(@current_project,activity_state.ext_id) %></li>
                    <%end%>
                    <%if activity_state.indicator?%>
                      <li> numerator <code><%= @data_compound.indicator(activity_state.ext_id)&.numerator %></code></li>
                      <li><%= link_to_indicator(@current_project,activity_state.ext_id) %></li>
                    <%end%>
                  <%end%>
                  <% if variable&.formula&.frequency && (variable.formula.frequency!=variable.formula.rule.package.frequency) %>
                    <li><code><%= variable.formula.frequency %></code></li>
                  <% end %>
                  <% if variable.formula %>
                    <li><%= link_to("Formula mappings", new_setup_project_formula_mapping_path(mode: :create, formula_code: variable.formula.code, activity_code: variable.activity_code )) %></li>
                  <% end %>

              </ul>
              <%if variable.formula %>
                  <h3>Step by step explanations</h3>

                    <pre><%= variable.formula.code %> = <%= variable.formula.expression %></pre>
                    <pre><%= variable.formula.code %> = <%= activity_item.substitued[variable.formula.code] %></pre>
                    <pre><%= variable.formula.code %> = <%= activity_item.solution[variable.formula.code] %></pre>
            <%end%>
          <%end%>
        </div>
     </td>
  <%end%>
  <td  class="popper" data-toggle="popover"  data-placement="left" title="<%= activity_item.activity.activity_code %>"><%=activity_item.activity.name %>

    <div class="popper-content hide">

      <li><%= link_to("Formula mappings", new_setup_project_formula_mapping_path(mode: :create, activity_code: activity_item.activity.activity_code)) %></li>
      <li><%= link_to("Edit activity", edit_setup_project_activity_path(@current_project, @current_project.activities.find {|a| a.code == activity_item.activity.activity_code}) )%></li>
    </div>
  </td>
</tr>
