<tr>
  <% invoice.headers.each do |header| %>
     <td class="popper <%=invoice_output_input_act_class(activity_item, header)%>" data-toggle="popover"  data-placement="bottom">
        <% formatted_amount = d_to_s(activity_item.solution[header])%>

        <span class="num-span" title="<%= activity_item.solution[header]%>">
          <% if formatted_amount && formatted_amount.to_d!= activity_item.solution[header].to_s.to_d%>
           <span title="Rounded for display <%= activity_item.solution[header] %>" class="text-danger" role="button">*</span>
        <% end %>
        <%= formatted_amount %>

        </span>
          <div class="popper-content hide">
          <% variable = activity_item.variable(header)%>
            <h3> <%=variable.state %></h3>
            <ul>
                <li><%= variable.key %></li>
                <li><code><%= variable.expression %></code></li>
                <% activity_state = @activity_mappings[[variable.activity_code, variable.state]] %>
                <%if variable.formula %>
                   <li><code><%= variable.formula.code %> = <%= variable.formula.expression %></code></li>
                   <li><code><%= variable.formula.code %> = <%= activity_item.substitued[variable.formula.code] %></code></li>
                   <li><code><%= variable.formula.code %> = <%= activity_item.solution[variable.formula.code] %></code></li>
                   <% if !variable.formula.frequency.nil? && (variable.formula.frequency!=variable.formula.rule.package.frequency) %>
                   <li><code><%= variable.formula.frequency %></code></li>
                   <% end %>
                <%end%>
                <%if variable.dhis2_data_element %>
                  <li><%= variable.dhis2_data_element %></li>
                  <li><%= @data_compound.data_element(variable.dhis2_data_element)&.name%>
                <%elsif activity_state%>
                  <li>Mapping : <%= activity_state.ext_id%> - <%= activity_state.kind%> - <%= @data_compound.data_element(activity_state.ext_id)&.name%>
                <%end%>
            </ul>
            <h3>Step by step explanations</h3>
            <pre><%= JSON.pretty_generate(activity_item.problem) %></pre>
            <pre><%= JSON.pretty_generate(activity_item.substitued) %></pre>
            <pre><%= JSON.pretty_generate(activity_item.solution) %></pre>
          </div>
      </div>
     </td>
  <%end%>
  <td title="<%= activity_item.activity.activity_code %>"><%=activity_item.activity.name %></td>
</tr>
