
<div class="invoice-container"
     style="display:none"
     data-period="<%=invoice.period%>"
     data-orgunit="<%=invoice.orgunit_ext_id%>"
     data-code="<%=(invoice.package&.code || invoice.payment_rule&.code) %>"
    >


<a name="<%= (invoice.package&.code || invoice.payment_rule&.code)+"-"+invoice.period%>"></a>
<h2><%= (invoice.package&.code || invoice.payment_rule&.code).humanize %>
 -
 <span title="<%= invoice.orgunit_ext_id%>"> <%= @pyramid.org_unit(invoice.orgunit_ext_id).name %> </span>
 <span class="pull-right"><%= icon("fas", "calendar")%> <%= invoice.period%></span>
</h2>

<% if invoice.activity_items.any? %>
<table class="table invoice num-span-table table-striped">
  <thead>
    <tr>
      <% invoice.headers.each do |header| %>
         <th title="<%= header %>" class="popper" data-toggle="popover" data-placement="bottom" ><%=header.humanize %>
           <div class="popper-content hide">
              <li><%= link_to("Formula mappings", new_setup_project_formula_mapping_path(mode: :create, formula_code: header)) %></li>
           </div>
         </th>
      <%end%>
      <th>Activity</th>
    </tr>
    </thead>
    <tbody>
      <%= render partial: "activity_item",
                 collection: invoice.activity_items.sort {|a,b| NaturalSort.comparator(a.activity.activity_code, b.activity.activity_code)} ,
                 as: :activity_item,
                 locals: {invoice:invoice}  %>
    </tbody>
</table>
<% end %>

<% if invoice.total_items.any? %>
<%= render partial: "total_item",
           collection: invoice.total_items.sort_by {|total_item| total_item.formula.code }.uniq,
           as: :total_item,
           locals: { invoice: invoice }  %>
<% end %>


</div>
