<div class="container">
    <div class="row">
      <div class="col-md-4">
        <b><%=total_item.formula.code.humanize %></b> :
      </div>
      <div class="col-md-3 popper <%= invoice_output_input_class(total_item) %>" data-toggle="popover"  data-placement="bottom">

          <%if total_item.not_exported?%>
            <del><%= total_item.value %></del>
          <%else%>
            <%= total_item.value %>
          <%end%>
          <div class="popper-content hide">
            <% formula_lookup = indexed_project.lookup_rule(total_item) %>
            <h3>
            <% if formula_lookup.package %>
            <%= link_to(total_item.formula.code, edit_setup_project_package_rule_path(formula_lookup.project, formula_lookup.package, formula_lookup.rule, anchor: "formula_#{total_item.formula.code}"), target: "_blank") %>
            <% else %>
            <%= link_to(total_item.formula.code, edit_setup_project_rule_path(formula_lookup.project, formula_lookup.payment_rule, anchor: "formula_#{total_item.formula.code}"), target: "_blank") %>
            <% end %>
          </h3>
            <ul>
            <li><%= total_item.value %></li>
            <li><%= total_item.formula.code %></li>
            <li><%= total_item.formula.expression %></li>
            <% if total_item.formula.dhis2_mapping_de %>
              <li><%= link_to_data_element(@current_project, total_item.formula.dhis2_mapping_de) %></li>
              <li><%= @data_compound.data_element(total_item.formula.dhis2_mapping_de)&.name%> </li>
              <% if total_item.formula.dhis2_mapping_coc %>
              <li> Category combo <%= total_item.formula.dhis2_mapping_coc %></li>
              <%end%>
            <%end%>
            <li>Formula mappings : <%= link_to("create", new_setup_project_formula_mapping_path(mode: :create, formula_code: total_item.formula.code)) %> or <%= link_to("edit", new_setup_project_formula_mapping_path(formula_code: total_item.formula.code)) %></li>
            </ul>
            <h3>Step by step explanations</h3>
            <% total_item.explanations.each do |explanation|%>
              <pre><%= explanation %></pre>
            <%end%>
          </div>
      </div>
   </div>
</div>
