

<%= simple_form_for(invoicing_request,  url: setup_project_invoices_path(invoicing_request.project), method: :post) do |f| %>

<%= f.input :entity, as: :hidden%>
<div class="form-group">
  <label class="control-label string">Organisation unit</label>
  <%= text_field_tag "formula_mappings_external_reference_id",
                     invoicing_request.entity ,
                     data: { autocomplete: organisation_units_setup_project_autocomplete_index_path(invoicing_request.project) ,
                             id_element: "#invoicing_request_entity" },
                     class: "form-control autocomplete-data-element",
                     placeholder: "Type some letters to start searching organisation unit..." %>
</div>
  <%= f.input :year %>
  <%= f.input :quarter %>

  <%= f.input :mock_values, as: :boolean%>

  <%= f.submit 'Push to dhis2',
                  name: 'push_to_dhis2',
                  data: { confirm: "Are you sure this might override existing data ?"},
                  class: "btn btn-danger pull-right"
  %>

  <%= f.submit 'Simulate with draft', name: "simulate_draft", class: "btn btn-primary"  %>
  <%= f.submit 'Simulate with published', name: "simulate_published", class: "btn btn-primary" %>
<%end%>

<%if invoicing_request.invoices && invoicing_request.invoices.any? %>
  <br>
  <br>
  <% @org_unit_summaries.each do |summary|%>
    <%= summary %> <br>
  <%end%>
  <br>
  <br>
  <br>
  <h1>Invoice Summary</h1>
  <table class="table">
    <thead>
       <tr>
         <th>Package</th>
         <th>Month</th>
         <th>Formula</th>
         <th>Amount</th>
    </thead>
    <tbody>
      <% invoicing_request.invoices.each do |invoice| %>
       <% invoice.activity_results.flatten.group_by(&:package).map do |package, results| %>
          <% if invoice.package_results %>
            <% package.package_rule.formulas.map(&:code).map do |item| %>
              <%package_result = invoice.package_results.find { |pr| pr.package == package }%>
              <%next unless package_result.solution[item]%>
                <tr>
                   <td>
                     <a href="#<%= (package.name+"-"+invoice.date.strftime('%Y-%m')).underscore%>"><%= package.name %></a>
                   </td>
                   <td><%=invoice.date.strftime('%Y-%m') %></td>
                   <td>
                     <%=item.humanize %>
                  </td>
                  <td>
                    <span class="num-span"><%= d_to_s(package_result.solution[item])%></span>
                  </td>
                </tr>
            <%end%>
          <%end%>
        <%end%>
          <%if invoice.payment_result %>
              <%invoice.payment_result.payment_rule.rule.formulas.map do |formula|%>
                <tr>
                   <td></td>
                   <td>Payment</td>
                   <td><%=formula.code.humanize %></td>
                   <td>
                    <span class="num-span"><%= d_to_s( invoice.payment_result.solution[formula.code])%></span>
                  </td>
                </tr>
              <%end%>
          <%end%>
      <%end%>

    </tbody>
  </table>
  <h3> Invoice details </h3>
  <%= render partial: "invoice", collection: invoicing_request.invoices, :as => :invoice  %>

  <br>
  <br>
  <br>
  <% values = Publishing::Dhis2InvoicePublisher.new.to_values(invoicing_request.project, invoicing_request.invoices)%>
  <% if values && values.any? %>
    <h3> Dhis2 values </h3>
    <pre>
      <%= JSON.pretty_generate(values) %>
    </pre>
  <%end%>
<% end%>
