

<%= simple_form_for(invoicing_request,  url: setup_project_invoices_path(invoicing_request.project), method: :post) do |f| %>

  <%= f.input :entity %>
  <%= f.input :year %>
  <%= f.input :quarter %>

  <%= f.input :mock_values, as: :boolean%>

  <%= f.submit 'Simulate',   class: "btn btn-primary pull-right" %>
<%end%>

<%if invoicing_request.invoices && invoicing_request.invoices.any? %>
  <% @org_unit_summaries.each do |summary|%>
    <%= summary %> <br>
  <%end%>
  <br>
  <br>
  <br>
      <% invoicing_request.invoices.each do |invoice| %>
       <% invoice.activity_results.flatten.group_by(&:package).map do |package, results| %>
        <li><a href="#<%= (package.name+"-"+invoice.date.strftime('%Y-%m')).underscore%>"><%= package.name %> at <%=invoice.date.strftime('%Y/%m')%></a></li>
        <%end%>
      <%end%>
  <h3> Invoice details </h3>
  <%= render partial: "invoice", collection: invoicing_request.invoices, :as => :invoice  %>

  <br>
  <br>
  <br>
  <% values = Publishing::Dhis2InvoicePublisher.new.to_values(invoicing_request.project, invoicing_request.invoices)%>
  <% if values && values.any? %>
    <h3> Dhis2 values </h3>
    <pre>
      <%= JSON.pretty_generate(values) %>
    </pre>
  <%end%>
<% end%>
