<%= render partial: "form"  %>

<% if @org_unit_summaries %>
  <br>
  <br>

  <% @org_unit_summaries.each do |summary|%>
    <%= summary %> <br>
  <%end%>
  See in current situation in dhis2 : <%= link_to_debug_orgunit(@current_project, invoicing_request.entity)%>
  <br>

  <button class="pull-right btn btn-default" onclick="copyToClipboard('#invoice-url')">
    Copy to clipboard this invoice url <%= icon("fas", "copy") %>
  </button>
  <span id="invoice-url" class="hidden">
    <% url_params = {
      entity: invoicing_request.entity,
      year: invoicing_request.year,
      quarter: invoicing_request.quarter
    } %>
    <% url_params = url_params.merge(@org_unit_limiter.to_param) %>

    <%= new_setup_project_invoice_url(url_params) %>
  </span>
  <br>
  <br>
<%end%>

<button class="pull-right btn btn-default" onclick="copyToClipboard('#rules-descriptors')">
  <%= icon("fas", "copy") %>
</button>
<button class="pull-right btn btn-default" data-toggle="collapse" data-target="#rules-descriptors">Show descriptors</button>
<div id="rules-descriptors" class="collapse">
  <pre><%= as_pretty_json_string(project_descriptor(@current_project))%></pre>
</div>

<% periods = invoicing_request.invoices.map(&:period).uniq.sort%>
<% orgunits = invoicing_request.invoices.map(&:orgunit_ext_id).uniq.map {|id|  @pyramid.org_unit(id) }.map {|ou| [ou.name, ou.ext_id]}.to_h%>
<% if @org_unit_limiter.active? %>
  <% orgunits = orgunits.select { |_name, ext_id| @org_unit_limiter.has_org_unit?(ext_id) } %>
<% end %>
<% codes = invoicing_request.invoices.map {|invoice| invoice.package&.code || invoice.payment_rule&.code}.uniq.sort.map {|code| [code.humanize, code]}%>
<br>
<br>
<div class="row">
   <div class="col-md-2">
      <label>Periods</label>

      <%= select_tag :periods, options_for_select(periods, periods),
                      {multiple: true, class: "form-control sol-simple",
                      "data-placeholder" => "Pick periods",
                         "data-selection" => "selected-periods"}%>
      <div id="selected-periods" ></div>
   </div>
   <div class="col-md-5">
     <label>Orgunits (<%= orgunits.size %>)</label>
     <%= select_tag :orgunits, options_for_select(orgunits, invoicing_request.entity),
                      {multiple: true, class: "form-control sol-simple",
                      "data-placeholder" => "Pick orgunits",
                         "data-selection" => "selected-orgunits"}%>
     <div id="selected-orgunits" ></div>
     <% if @org_unit_limiter.active? %>
       <small><strong>Note:</strong>You're currently actively limiting the org units, if you didn't expect this, you'll need to clear 'Selected org units'</small>
     <% end %>
   </div>
   <div class="col-md-4">
   <label>Package or Payment rule (<%= codes.size %>)</label>
  <%= select_tag :codes, options_for_select(codes, codes.map(&:last)),
                      {multiple: true, class: "form-control sol-simple",
                             "data-placeholder" => "Pick packages or payment rules",
                             "data-selection" => "selected-codes"
                             }%>
   <div id="selected-codes" ></div>

   </div>

</div>


<% if invoicing_request.invoices.empty? && @exception %>
  <div class="alert alert-danger">
    <%=@exception.class.name%><br>
    <%=@exception.message%>
  </div>
<%else%>
  <br>
  <div class="alert alert-info alert-dismissible">
      No invoice ?

      Probably the groups of the entity doesn't match one of :
      <% invoicing_request.project.packages.flat_map(&:package_entity_groups).map{|g| {id: g.organisation_unit_group_ext_ref, name: g.name}}.uniq.each do |group| %>
        <li><%= link_to_org_unit_group(@current_project, group[:id],  group[:name] )%></li>
      <% end %>

      or you should invoice the primary orgunit of a contract group, or the groups at this period don't match.

  </div>
<% end %>

<h1> Invoice details </h1>

<% if @org_unit_limiter.active? %>
  <% selected_invoices = invoicing_request.invoices.select{ |invoice| @org_unit_limiter.has_org_unit?(invoice.orgunit_ext_id) } %>
<% else %>
  <% selected_invoices = invoicing_request.invoices %>
<% end %>

<%= render partial: "new_invoice", collection: selected_invoices, :as => :invoice  %>
<br>
<br>
<br>

<%if @invoicing_request.with_details? && @invoice_entity.success? %>
  <h3> Dhis2 output values (<%= @dhis2_export_values.size %>)</h3>
  <button class="btn btn-default" data-toggle="collapse" data-target="#dhis2-output-values">Show values</button>
    <div id="dhis2-output-values" class="collapse">
      <pre><%=JSON.pretty_generate(@dhis2_export_values)%></pre>
  </div>

  <h3> Dhis2 input values (<%= @dhis2_input_values.size %>)</h3>
  <button class="btn btn-default" data-toggle="collapse" data-target="#dhis2-input-values">Show values</button>
    <div id="dhis2-input-values" class="collapse">
      <pre><%=JSON.pretty_generate(@dhis2_input_values) %></pre>
  </div>

    <% problem = @invoice_entity.fetch_and_solve.solver.build_problem %>
    <% solution = @invoice_entity.fetch_and_solve.solver.solution %>

  <h3> Equations (<%= problem.size%>) </h3>
  <button class="btn btn-default" data-toggle="collapse" data-target="#equations">Show Equations</button>
    <div id="equations" class="collapse">
  <input type="text" id="searchEquation" class="pull-right" placeholder="Search for equations">
  <table class="table table-striped compact" id="equationsTable">
  <thead>
  <tr>
  <th>Key</th>
  <th>Equations</th>
  <th>Value</th>
  </tr>
    </thead>
    <tbody>
      <% problem.each do |key, equation|%>
        <tr>
            <td><%= key %></td>
            <td><%= equation %></td>
            <td><%= solution[key] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%end%>
</div>
