<tr>
  <td><%= link_to_data_element(@current_project, metadata.dhis2_id) %> <br><%=metadata.dhis2_type%></td>
  <td>
  <%if metadata.orbf_type == "Activity state"%>
      <%= link_to metadata.orbf_type, edit_setup_project_activity_path(@current_project, metadata.activity_state.activity) %>
  <%elsif metadata.orbf_type == "Formula mapping"%>
      <%= link_to metadata.orbf_type, edit_setup_project_package_rule_path(@current_project, metadata.package, metadata.formula_mapping.formula.rule, anchor: "formula_"+metadata.formula_mapping.formula.code )%>
  <%else%>
   <%=metadata.orbf_type%>
  <%end%>
  <br>
   <span title="package"><%= metadata.package_name%></span>
  </td>
  <td>

    <b>Orbf</b>
    <div class="container">
    <div class="row">
        <div class="col-md-1">Name:</div>
        <div class="col-md-10"><%= metadata.orbf_name%></div>
    </div>
    <div class="row">
        <div class="col-md-1">Short:</div>
        <div class="col-md-10"><%= metadata.orbf_short_name%></div>
    </div>
    <div class="row">
        <div class="col-md-1">Code:</div>
        <div class="col-md-10"><%= metadata.orbf_code%></div>
    </div>
    <%if metadata.formula %>
    <div class="row">
      <div class="col-md-1">Expression:</div>
      <div class="col-md-10">
        <code><%= metadata.formula.expression%></code>
      </div>
    </div>
    <%end%>
    </div>

    <b>Dhis2</b><br>

    <div class="container">
    <div class="row">
        <div class="col-md-1">Name:</div>
        <div class="col-md-10"><%= metadata.dhis2_name%></div>
    </div>
    <div class="row">
        <div class="col-md-1">Short:</div>
        <div class="col-md-10"><%= metadata.dhis2_short_name%></div>
    </div>
    <div class="row">
        <div class="col-md-1">Code :</div>
        <div class="col-md-10"><%= metadata.dhis2_code%></div>
    </div>
    </div>
  </td>
</tr>