<small>
    <ul>
        <% formulas.each do |formula| %>
        <li title="<%= formula.code %> = <%= formula.expression %>"><%= formula.description %>
          <%if params[:debug]%>
          <div style="font: normal 10pt 'Courier New'"><%=formula.code %> = <%= formula.expression %></div>
          <%end%>
          </li>
        <% end %>
    </ul>
</small>
