<%if project &&  project.id%>
  <% if step.model%>
    <%= simple_form_for(step.model,  url: setup_project_publish_drafts_path(project), method: :post) do |f| %>
      <div class="form-group">
        <label class="control-label">Date:</label>
          <%= f.input_field :publish_date, as: :string, :readonly => true, class: "form-control input-date" %>
      </div>
      <%= f.submit 'Publish project', name: :publish_project ,  class: "btn btn-success" %>
    <% end %>
    <table class="table">
      <thead>
          <tr>
              <th>Id</th>
              <th>Status</th>
              <th>Publish date</th>
              <th>Diff</th>
          </tr>
      </thead>
      <body>

        <% diff_symbols = {"+" => "added", "-" => "removed", "~" => "modified"} %>
        <% project.project_anchor.projects.latests.each do |project|%>
        <tr>
          <td><%= project.id %></td>
          <td><%= project.status %></td>
          <td><%= project.publish_date %></td>
          <td>

            <%if  project.original%>
              <% HashDiff.diff(project.original.to_unified_h, project.to_unified_h).each do |hash_diff| %>
              <% operation, path, value, now = hash_diff %>
              <% all_names = project.to_unified_names.merge(project.original.to_unified_names)%>
              <%  all_names.each do |uuid, name|
                path.gsub!(".#{uuid}.", " '#{name}' ")
                path.gsub!(".#{uuid}", " '#{name}' ")
              end;%>
               <li>  <%= diff_symbols[operation] %>  in  <%= path %>
              <%if value.is_a?(String) || now.is_a?(String)  %>
                 <%if now %>
                 before
                 <pre><%= now.to_json %></pre>
                 <%end%>
                 <pre><%=value.to_json%></pre>
              <%end%>
            <%end%>
           <%end%>
          </td>
        </tr>
        <%end%>
      </body>
    </table>
  <% end %>
<% end %>
