<% if !current_program.oauth_enabled? && current_program&.project_anchor&.project&.dhis2_url %>
  <div class="actions pull-right">
      <%= link_to 'Enable DHIS2 log-in', setup_project_oauth_index_path(current_program.project_anchor.project), method: "POST", class: 'btn btn-info' %>
  </div>
  <br>
  <br>
<% end %>
<%= simple_form_for([:setup,step.model]) do |f| %>
  <%= f.input :name %>
  <%= f.input :qualifier %>
  <%= f.input :cycle, collection: Project::CYCLES %>
  <%= f.input :dhis2_url, placeholder: "eg : https://play.dhis2.org/2.28" %>
  <%= f.input :invoice_app_path %>
  <%= f.input :user, input_html: { autocomplete: "nope" }  %>
  <%= f.input :password, input_html: { autocomplete: "new-password" } %>
  <%= f.input :bypass_ssl, label: "Check this to bypass SSL verification for self-signed certificate. Note that this might allow man-in-the middle attack!" %>
  <%= f.input :enabled, hint: "checked if project enabled : daily snapshots, hesabu-manager deployments" %>
  <%= f.input :dhis2_logs_enabled, hint: "checked if dhis2 logs enabled : disable the dhis2 audit logs in favour of performance improvements for large calculation (LMIS a like)" %>
  <%= f.button :submit, class: "btn btn-success" %>
<% end %>