<%if project &&  project.id%>
  <% if step.model%>
    <%= simple_form_for(step.model,  url: setup_project_publish_drafts_path(project), method: :post) do |f| %>
      <div class="form-group">
        <label class="control-label">Date:</label>
          <%= f.input_field :publish_date, as: :string, :readonly => true, class: "form-control input-date" %>
      </div>
      <%= f.submit 'Publish project', name: :publish_project ,  class: "btn btn-success" %>
    <% end %>
    <table class="table">
      <thead>
          <tr>
              <th>Id</th>
              <th>Parent Id</th>
              <th>Status</th>
              <th>Publish date</th>
              <th>Diff</th>
          </tr>
      </thead>
      <body>

        <% project.project_anchor.projects.latests.each do |project|%>
        <tr>
          <td><%= project.id %></td>
          <td><%= project.original_id %></td>
          <td><%= project.status %></td>
          <td><%= project.publish_date %></td>
          <td>

            <% changelog = project.changelog %>
            <% unless changelog.empty? %>
            <table class="table">
              <thead>
                 <tr><th>Operation</th><th>What</th><th>Currently</th><th>Previously</th>
              </thead>
              <body>

            <% changelog.each do |entry| %>
                  <tr>
                    <td><%= entry.operation %></td>
                    <td><%= entry.human_readable_path %></td>
                    <td>
                      <%if entry.show_detail %>
                        <pre><%= entry.current_value %></pre>
                      <%end%>
                    </td>
                    <td>
                      <%if entry.show_detail %>
                        <pre><%=entry.previous_value%></pre>
                      <%end%>
                    </td>
                  </tr>
           <%end%>
             </body>
           </table>
           <%end%>
          </td>
        </tr>
        <%end%>
      </body>
    </table>
  <% end %>
<% end %>
