<tr>
    <td><%= package.name %></td>
    <td>
        <small><%= package.package_entity_groups.map{ |entitygroup|  %Q(#{entitygroup.name}) }.join(', ') %></small>
    </td>
    <td>
        <small><%= package.states.map{ |state|  %Q(#{state.name}) }.join(', ') %></small>
    </td>
    <td>

        <% if package.activity_rule.present? %>
        <%= link_to package.activity_rule.name, edit_setup_project_package_rule_path(current_user.project, package, package.activity_rule)  %>
    <% else %>
        <%= link_to 'Create new rule', new_setup_project_package_rule_path(current_user.project, package) , class: 'btn btn-warning' %>
        <% end %>

    </td>
    <td>

        <% if package.package_rule.present? %>
        <%= link_to package.activity_rule.name, edit_setup_project_package_rule_path(current_user.project, package, package.package_rule)  %>
        <% elsif package.activity_rule.present? %>
        <%= link_to 'Create new rule', new_setup_project_package_rule_path(current_user.project, package)  , class: 'btn btn-warning' %>
        <% end %>

    </td>
</tr>
