
<h1><%= rule_name(project_rule.rule) %></h1>

<%= f.association :packages, collection: project_rule.project.packages, as: :check_boxes %>

<%= f.simple_fields_for :rule do |rule_form| %>
  <%= render "rules/form", f: rule_form, rule: project_rule.rule%>
<% end %>
<br><br>

<%= f.button :submit, class: "btn btn-success" %>
