<h1><%= rule_name(rule) %></h1>

<%= f.input :name %>

<a class="btn pull-right" data-toggle="collapse" data-target="#cheat_sheet">
  <%= icon("question-circle fa-5x") %>
</a>
<div id="cheat_sheet" class="collapse">
  <%= render "rules/cheat_sheet", rule: rule %>
</div>



<label class="control-label string"> Available variables names for expressions</label>
<pre> <%= rule.available_variables.join("    ") %> </pre>

<% unless rule.errors.full_messages.empty? %>
<div class="alert alert-danger">
  <% rule.errors.full_messages.each do |message| %>
    <%= message%> <br>
  <% end %>
</div>
<% end %>

<%= f.simple_fields_for :formulas do |formula| %>
  <%= render 'rules/formula_fields', :f => formula %>
<% end %>

<div class="links">
<%=  link_to_add_association "Add a formula", f, :formulas, class: "btn btn-primary pull-right",  partial: "rules/formula_fields" %>
</div>
<div id="cheat_sheet_expression" class="collapse">
  <%= render "rules/cheat_sheet_expression" %>
</div>
