<h1>Diagnose (<%= contracted_entities.size%>)</h1>

<table class="table">
  <thead>
    <tr>
      <th>Contracted org unit</th>
      <th>Matching packages</th>
      <% project.packages.each do |package| %>
      <th><%= package.code.humanize %></th>
      <%end%>
    </tr>
  </thead>
<tbody>

<% contracted_entities.each do |contract_entity| %>
<% org_unit = contract_entity.org_unit %>

<tr>
  <td title="<%=org_unit.name %> - <%=org_unit.path%> - <%=contract_entity.full_name%>"><a name="<%=org_unit.ext_id%>"><%= org_unit.name %></td>
  <td>
      <%= contract_entity.matching_packages.size %>
  </td>

  <% contract_entity.packages.each do |package| %>
  <td>
    <%= if package.match
       ("<i class='glyphicon glyphicon-ok' title=\""+package.code+"\"></i>").html_safe
       else
        ("<i class='glyphicon glyphicon-minus' title=\""+package.code+"\"></i>").html_safe
      end
     %>
     <% if package.org_units.to_a.size > 1%>
      <button class="btn btn-default popper" data-toggle="popover" data-placement="bottom">
        <%= package.org_units.to_a.size%>
        <div class="popper-content hide">
          <%= package.org_units.to_a.map(&:name).join(', ') %>
        </div>
      </button>
      <br>
      <% package.org_units.to_a.first(5).each do |ou|%>
       <li title="<%= ou.ext_id %>"><%= ou.name %> </li>
      <%end%>
    <%end%>
</td>
  <% end%>
</tr>
<%end%>
</tbody>
</table>
