<!DOCTYPE html>
<html>
  <head>
    <title>Open RBF 2.0</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if log_rocket_token = ENV["LOG_ROCKET_TOKEN"] %>
      <script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
      <script>
       const token = "<%= log_rocket_token %>";
       window.LogRocket && window.LogRocket.init(token);</script>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="private container">
    <%= render "layouts/header" %>
    <%= render "layouts/notifications" %>

    <div >
      <%= yield %>
    </div>
    <% if Scorpio.can_impersonate?(true_user || current_user) %>
      <h5>Sign in as</h5>
      <details>
        <div>
          <ul>
            <% User.includes(program: { project_anchor: :projects }).order(:email).each do |user| %>
              <li><%= link_to user.impersonate_label, impersonate_user_path(user), method: :post %></li>
            <% end %>
          </ul>
        </div>
      </details>
    <% end %>
  </body>
</html>
